@import "tailwindcss";@theme {
  --font-jost: "Jost", sans-serif;
}

@theme {
  --color-primary-black: #222222; 
   --color-second-color: #B9A16B;
   --color-primary-white: #FFFFFF;
   --color-third: #767676;
   --color-redcolor: #D6001C;
   --color-browncolor:#C32929;
   --color-deepgreen: #074E37;
   --color-lightgreen:#86BC42;
   --color-four: #F3E8D6;
   --color-green:#6BAD0D;
}
   
.u-list{
    @apply ml-14 flex gap-11;
}

.list-item{
  @apply font-jost  leading-6 text-primary-white font-medium text-base after:bg-primary-black relative text-sm font-medium after:content-[''] after:absolute after:bottom-0 
  after:left-10  after:h-0.5 after:w-0 after:transition-all after:duration-300  hover:after:w-[40%] ;
}